{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "overrides": [
    {
      "files": [
        "**/*.vue"
      ],
      "customSyntax": "postcss-html"
    }
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
    "property-no-unknown": null,
    "font-family-no-missing-generic-family-keyword": null,
    "selector-class-pattern": null,
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "v-bind",
          "map-get",
          "lighten",
          "darken"
        ]
      }
    ],
    "scss/no-global-function-names": null,
    "no-empty-source": null
  }
}
